nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.3rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.3rem;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15);
}

nav .main__icon {
  background: transparent;
  padding: 0.2rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-white) !important;
  font-size: 1.1rem;
  transition: var(--transition);
}

nav .main__icon:hover {
  background: rgba(0, 0, 0, 0.4);
}

nav .active {
  background: var(--color-primary);
  color: var(--color-white);
}
nav ul li {
  display: inline-block;
}

nav svg {
  fill: var(--color-white);
}
